__pycache__/
*.pyc
*.pyo
*.pyd
*.pyd
*.pdb
*.log


venv/
ENV/
env/
.venv/


*.db
*.sqlite3

*.env
.env.*


.cache/
*.mypy_cache/
*.pytest_cache/

build/
dist/
pip-wheel-metadata/



.vscode/
*.code-workspace

node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
dist/
build/

# OS files
.DS_Store
Thumbs.db


# Logs
logs/
*.log


